header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline; /** quita saltos de linea **/
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase; /** Convierte en mayusculas el texto**/
    color: black;  /** Color de la letra **/
    font-weight: bold;
    font-size: 22px;  /** Tamaño de la letra **/
    text-decoration: none;  /** Quita subrayado del texto **/
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;  /** tamaño de borde, tipo de borde y color del borde **/
    border-radius: 10px 10px 10px 10px; /** Redondeo del margen **/
}

.productos h2{
    font-size: 27px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 18px;

}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

}