header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline; /** quita saltos de linea **/
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase; /** Convierte en mayusculas el texto**/
    color: black;  /** Color de la letra **/
    font-weight: bold;
    font-size: 22px;  /** Tamaño de la letra **/
    text-decoration: none;  /** Quita subrayado del texto **/
}

nav a:hover{ /* cambia el color al posisionar el mause sobre el menu de navegavion */
    color:#c78c19;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;  /** tamaño de borde, tipo de borde y color del borde **/
    border-radius: 10px 10px 10px 10px; /** Redondeo del margen **/
}

.productos li:hover{
     border-color: #c78c19;
}

.productos li:active{  /* campura el clip del mouse para cambiar de color verde*/
    border-color: #088c19;
}

.productos h2{
    font-size: 26px;
    font-weight: bold;
}

.productos li:hover h2{ /* Aumenta el tamaño de la letra la pasar el puntero */
    font-size: 28px;
}

.producto-descripcion{
    font-size: 18px;

}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

}

footer{
    text-align: center;
    background: url(imagen/bg.jpg); /*Se agrego imagen como fondo de pantalla del pie de pagina*/
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}
main{
    width: 940px;
    margin: 0 auto;

}

form{
    margin: 40px 0;
}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
