body{
    
}

#banner{
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    font-size: 20px;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px
}

.diferenciales{
    background: white;
    padding: 30px;
}

h2{
    text-align: center;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}